<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Open Uptown - About</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="about.css">
    
</head>

<body>
 <!-- NAV BAR -->
 <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3fa9f5">
        <a class="navbar-brand" href="../index.html">
            <img src="../img/flag-red.png" height="64px" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="../index.html">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/events.html">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/Open-Uptown/" target="_blank">Projects</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        About
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="../views/about.html">Who We Are</a>
                        <a class="dropdown-item" href="../views/codeofconduct.html">Code of Conduct</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- /NAV BAR -->

    <div class="jumbotron jumbo-about">
        <div class="container">
            <h1 class="display-4">Code for America</h1>
            <p class="lead">Code for America uses the principles and practices of the digital age to improve how government serves the American
                public, and how the public improves government.</p>
            <hr class="my-4" style="background-color: white;">
            <p>We can help millions of underserved Americans by delivering a modern experience for government.</p>
            <a class="btn btn-primary btn-lg" href="https://www.codeforamerica.org/who" role="button" target="_blank">Learn more</a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>CFA in Chicago</h1>
                <p>We are a Code for America brigade in Chicago. Open Uptown is committed to fostering an inclusive space for
                    civic technologists and community members to collaborate.</p>

                <p>Our Code of Conduct creates a safe space for everyone</p>

                <p>Many technology groups in Chicago have inspired our organization and are worth checking out:</p>
                <ul>
                    <li>
                        <a href="https://chihacknight.org/" target="_blank">Chi Hack Night</a>
                    </li>
                    <li>
                        <a href="http://www.chipy.org/" target="_blank">ChiPy</a>
                    </li>
                    <li>
                        <a href="https://www.eventbrite.com/e/code-coffee-south-side-edition-tickets-35374464977" target="_blank">Code & Coffee: Souside Edition</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

        <!-- FOOTER -->
        <footer class="footer py-5 text-center">
                <div class="img-container py-5">
                    <a href="https://twitter.com/open_uptown" target="_blank">
                        <img src="../img/icons8-twitter-48.png" alt="">
                    </a>
                    <a href="https://github.com/Open-Uptown/" target="_blank">
                        <img src="../img/github.png" alt="">
                    </a>
                    <a href="https://www.meetup.com/openuptown/" target="_blank">
                        <img src="../img/meetup.png" alt="">
                    </a>
                    <a href="https://cacuptown.slack.com/" target="_blank">
                        <img src="../img/slack.png" alt="">
                    </a>
                </div>
                <p class="text-center">
                    Open Uptown - Chicago's Code for America Brigade
                </p>
            </footer>
            <!-- /FOOTER -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>