<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Open Uptown - Events</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../main.css">
</head>

<body>
    <!-- NAV BAR -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3fa9f5">
            <a class="navbar-brand" href="../index.html">
                <img src="../img/flag-red.png" height="64px" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="../index.html">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/events.html">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/Open-Uptown/" target="_blank">Projects</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            About
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="../views/about.html">Who We Are</a>
                            <a class="dropdown-item" href="../views/codeofconduct.html">Code of Conduct</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    
        <!-- /NAV BAR -->
    <div class="jumbotron">
        <div class="container">
            <p>Thursday July 19th, 2018, 8:00 AM</p>
            <h1 class="display-4">Code and Coffee</h1>
            <p class="lead">Open Uptown's originally formed in Chicago as "Code & Coffee: Uptown Brigade." Our signature event involves code,
                co-working, and coffee every Thursday morning at Emerald City. Bring a laptop and come hang with your neighbors.
            </p>
            <hr class="my-4" style="background-color: azure">
            <p class="pb-2">4 members going</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="https://www.meetup.com/openuptown/events/qdwgmpyxkbzb/" target="_blank" role="button" style="background-color: #3fa9f5">Join this event</a>
            </p>
        </div>
    </div>

    <div class="container">
        <h3 class="my-4">Upcoming Meetups</h3>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="../img/the-shift.jpeg" alt="Card image cap">
                <div class="card-body">
                    <p class="text-muted">Thu. Jul 26, 2018, 6:30 PM</p>
                    <h5 class="card-title">Civic Project Night</h5>
                    <p class="card-text">Project night! We'll gather together to collaborate, learn, and work to improve our community. There's
                        a need for a wide variety of skill sets, so no matter your where your experience lies or how much
                        of it you've got, join us!</p>
                        <a href="https://www.meetup.com/openuptown/events/qdwgmpyxkbjc/">
                            <button class="btn btn-primary btn-block mt-4">Join</button>
                        </a>
                    
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../img/codeAndCoffee.jpeg" alt="Card image cap">
                <div class="card-body">
                    <p class="text-muted">Thu. Jul 26, 2018, 6:30 PM</p>
                    <h5 class="card-title">Code & Coffee</h5>
                    <p class="card-text">Open Uptown's originally formed in Chicago as "Code & Coffee: Uptown Brigade." Our signature event involves
                        code, co-working, and coffee every Thursday morning at Emerald City. Bring a laptop and come hang
                        with your neighbors.</p>
                        <a href=""></a>
                    <button class="btn btn-primary btn-block mt-4">Join</button>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../img/the-shift.jpeg" alt="Card image cap">
                <div class="card-body">
                    <p class="text-muted">Thu. Jul 26, 2018, 6:30 PM</p>
                    <h5 class="card-title">Civic Project Night</h5>
                    <p class="card-text">Project night! We'll gather together to collaborate, learn, and work to improve our community. There's
                        a need for a wide variety of skill sets, so no matter your where your experience lies or how much
                        of it you've got, join us!.</p>
                    <button class="btn btn-primary btn-block mt-4">Join</button>
                </div>
            </div>
        </div>


        <h3 class="my-5">Past Meetups (59)</h3>

        <div class="d-flex justify-content-between pb-5">
            <div class="card pb-4">
                <div class="card-body">
                    <p>Thu, Jul 12, 2018, 6:30 PM</p>
                    <h5 class="card-title">Civic Project Night</h5>
                    <p class="card-text">3 members attended.</p>
                </div>
            </div>
            <div class="card pb-4">
                <div class="card-body">
                    <p>Thu, Jul 12, 2018, 6:30 PM</p>
                    <h5 class="card-title">Civic Project Night</h5>
                    <p class="card-text">3 members attended.</p>
                </div>
            </div>
            <div class="card pb-4">
                <div class="card-body">
                    <p>Thu, Jul 12, 2018, 6:30 PM</p>
                    <h5 class="card-title">Civic Project Night</h5>
                    <p class="card-text">3 members attended.</p>
                </div>
            </div>
            <div class="card pb-4">
                <div class="card-body">
                    <p>Thu, Jul 12, 2018, 6:30 PM</p>
                    <h5 class="card-title">Civic Project Night</h5>
                    <p class="card-text">3 members attended.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="footer py-5 text-center">
            <div class="img-container py-5">
                <a href="https://twitter.com/open_uptown" target="_blank">
                    <img src="../img/icons8-twitter-48.png" alt="">
                </a>
                <a href="https://github.com/Open-Uptown/" target="_blank">
                    <img src="../img/github.png" alt="">
                </a>
                <a href="https://www.meetup.com/openuptown/" target="_blank">
                    <img src="../img/meetup.png" alt="">
                </a>
                <a href="https://cacuptown.slack.com/" target="_blank">
                    <img src="../img/slack.png" alt="">
                </a>
            </div>
            <p class="text-center">
                Open Uptown - Chicago's Code for America Brigade
            </p>
        </footer>
        <!-- /FOOTER -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>